/local/
/build/
/dist/
/tools/*
!/tools/README.md
/inputs/*
!/inputs/README.md
.env
.env.*
!.env.example
*.apk
*.aab
*.apkm
*.apks
*.jar
*.mpp
*.zip
*.keystore
*.p12
*.jks
*.log
*.png
*.jpg
*.webp
.DS_Store
.idea/
*.iml
.gradle/
__pycache__/
